{% extends 'cbv/base.html' %}
{% load static %}
{% block title %}101 Ecommerce{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">New, Special, Good Price</h1>
        <p class="lead text-muted">All special products in one place</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>
  {% include 'cbv/products.html' %}

</main>

{% endblock %}